{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<div>
    {% if user.is_authenticated %}
        <p class="messagestyle2"><a href="{% url 'logout' %}"><button class="logbutton2">Logout</button></a> {{user.username.title}}</p>
    {% else %}
        <a href="{% url 'login' %}"><button class="logbutton2">Login</button></a>
    {% endif %}
</div>
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h3>{{ question.question_text }}</h3></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div class="detailchoices">
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="custom-radio"
                       {% if user_vote == choice.id %}checked{% endif %}>
                <label for="choice{{ forloop.counter }}" class="custom-radio-label">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </div>
    </fieldset>
    <input type="submit" value="Vote" class="votebutton">
</form>
<a href="{% url 'polls:results' question.id %}"><button class="resultbutton">Results</button></a>
<a href="{% url 'polls:index' %}"><button class="resultbutton">Home page</button></a>
