{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'kupolls:detail' question.id %}"><button>{{ question.question_text }}</button></a>
            <br>
            <a href="{% url 'kupolls:results' question.id %}"><button>Results</button></a>
            {% if question.can_vote %}
                <button style="background: lime; color: black">
                    OPEN
                </button>
            {% else %}
                <button style="background: red; color: black">
                    CLOSED
                </button>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
