{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<div class="headbox">
    {% if user.is_authenticated %}
        <p class="messagestyle"><a href="{% url 'logout' %}"><button class="logbutton">Logout</button></a> Welcome, {{user.username.title}}</p>
    {% else %}
        <a href="{% url 'login' %}"><button class="logbutton">Login</button></a>
    {% endif %}
    <h1>KU Polls</h1>
</div>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}" {% if not question.can_vote %} onclick="showAlert()" {% endif %} ><button class="questionbutton">{{ question.question_text }}</button></a>
            <br>
            <a href="{% url 'polls:results' question.id %}"><button class="resultbutton">Results</button></a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<script>
    function showAlert() {
        alert("This poll is closed.");
    }
</script>